:root{
    --color1: #2CA58D;
    --color2: #0A2342;
    --color3: #F3D8C7;
    --color4: #84BC9C;
    --color5: #815355;
}



*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--color5);
}



.container{
    display: flex;
    flex-direction: column;
    background-color: var(--color2);
    height: 100vh;
    align-items: center;
    justify-content: center;
    
}


.AppTarea{
    background-color: var(--color3);
    border-radius: 15px;
    padding: 50px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.title{
    margin-bottom: 40px;
}

#agregarTarea{
    display: flex;
    width: 100%;
    justify-content: space-evenly;

}

#inputTarea{
    margin-right: 15px;
    width: 250px;
    padding: 15px;
    border: none;
    border-radius: 10px 0 0 10px;
    
}

input:focus, input:active{ 
    outline: 3px solid var(--color4);
}

#btn-add{
    padding: 15px;
    background-color: var(--color1);
    border-radius: 0 10px 10px 0;
}




table{
    width: 100%;
}


.resultado-lista{
    width: 100%;
    margin-top: 20px;
}

.tarea{
    width: 70%;
    font-weight: bold;
    text-align: center;
}

.check{
    width: 15%;
    text-align: center;
}
.remove{
    width: 15%;
    text-align: center;
}

button{
    border: none;
    background-color: var(--color3);
}

td,th{
    padding: 5px;
}
